.content {
    max-width: 500px;
    margin: 100px auto;
    text-align: center;
}

.content__item{
    margin-bottom: 30px;
}

.content__item--box {
    text-align: left;
}

.content__item--input {
    width: 100%;
    height: 50px;
    border: 1px solid #5F5F5F;
    border-radius: 3px;
    font-size: 20px;
    padding: 0 20px;
}

.content__item--btn {
    width: 100%;
    height: 50px;
    background-color: #FF5555;
    color: #fff;
    border: none;
    border-radius: 6px;
    font-size: 22px;
    font-weight: bold;
    margin-top: 80px;
    cursor: pointer;
}

.content__link{
    text-decoration: none;
    color: #0073CC;
    font-size: 20px;
}

.error{
    color: red;
    margin: 0;
}

@media screen and (max-width:768px) {
    .content{
        margin: 50px auto;
    }

    .content__item{
        width: 95%;
        margin: 0 auto 30px;
    }
}