.profile {
    display: flex;
    justify-content: space-between;
    width: 1024px;
    margin: 0 auto;
    margin-top: 50px;
    align-items: center;
}

.profile__item {
    display: flex;
    align-items: center;
}

.profile__item--img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 30px;
    background-color: #D9D9D9;
}

.profile__item--img>img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.profile__item--name {
    height: 1em;
    line-height: 1em;
    margin: 0;
}

.profile__btn {
    width: 250px;
    height: 50px;
    background-color: #fff;
    border-radius: 6px;
    border: 2px solid #FF5555;
    color: #FF5555;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.tab__wrapper {
    border-bottom: 1px solid #5f5f5f;
    height: 90px;
}

.tab {
    height: 100%;
    line-height: 150px;
    width: 1000px;
    margin: 0 auto;
}

.tab>a:first-child {
    margin-right: 50px;
}

#none {
    color: #5F5F5F;
}

#select {
    color: red;
}

.tab>button:first-child {
    margin-right: 50px;
}

.tab__item {
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.content {
    width: 1040px;
    margin: 50px auto;
    place-items: center;
    gap: 80px 40px;
}

#main {
    display: grid;
        grid-template-columns: repeat(20, 1fr);
}

#modal {
    display: none;
}

.content__item {
    width: 200px;
    height: 200px;
    grid-column: auto/span 5;
    border-radius: 3px;
    background-color: #D9D9D9;
}

.content__item--link__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}