.ttl {
    max-width: 1320px;
    margin: 0 auto;
    margin-top: 30px;
    display: flex;
    align-items: center;
}

.content {
    max-width: 1320px;
    margin: 50px auto;
    place-items: center;
    gap: 80px 40px;
    display: grid;
    grid-template-columns: repeat(25, 1fr);
}

.content__nothing {
    width: 1320px;
    margin: 50px auto;
}

.content__item {
    width: 200px;
    height: 200px;
    grid-column: auto/span 5;
    border-radius: 3px;
    background-color: #D9D9D9;
    position: relative;
}

.content__item--link__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.content__item--name {
    margin: 0;
    font-size: 13px;
}

.content__item--price {
    position: absolute;
    bottom: 5px;
    color: #fff;
    padding-right: 5px;
    background-color: rgba(95, 95, 95, 0.5);
}

@media screen and (max-width:1024px) {

    .ttl{
        margin-left: 10px;
    }

    .content {
        grid-template-columns: repeat(20, 1fr);
    }
}

@media screen and (max-width:768px) {
    .content {
        grid-template-columns: repeat(15, 1fr);
    }
}